@charset "utf-8";

/* 색상 */
$black : #000;
$grey : #aaa;
$red : #FF001F;
$white : #fff;
$orange : #FF9500;
$green : #18A286;

* {
    margin: 0;
    padding: 0;
}
html{
    font-size:10px;
}
body{
    font-family: -apple-system-font,'Apple SD Gothic Neo',Helvetica,sans-serif;
    color: $black;
}
a{
    display: block;
    color: inherit;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}
img {
    max-width: 100%;
}
/* 접근성 */
.blind{
    visibility: hidden;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 1px;
    font-size: 0;
    line-height: 0;
}

/* style */
.product{
    &-info{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1.5rem 1.3rem 1.5rem;
        &-num{
            font-size: 1.4rem;
        }
        &-noti{
            margin-left: .5rem;
            font-size: 1.2rem;
            color: $grey;
        }
        &-type__button{
            display: flex;
            margin-left: auto;
            width: 1.6rem;
            height: 1.6rem;
            border: 1px solid $black;
            box-sizing: border-box;
            flex-shrink: 0;
        }
    }
    &-content{
        &-list{
            display: flex;
            li {
                display: inline-block;
                width: 50%;
            }
            //공통
            .item{
                position: relative;
                &__link{
                    display: flex;
                    flex-flow: column;
                }
                &__img{
                    overflow: hidden;
                    position: relative;
                    display: block;
                    padding-top: 100%;
                    background: #F1F1F1;
                    font-size: 0;
                    .test{
                        position: absolute;
                        top: 0;
                        left: 0;
                        bottom: 0;
                        right: 0;
                        text-align: center;
                        white-space: nowrap;
                    }
                    img {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        width: 100%;
                        max-height: 100%;
                        border: 0;
                        -webkit-transform: translate(-50%,-50%);
                        transform: translate( -50%, -50%);
                    }
                }
                &-detail{
                    position: relative;
                    display:block;
                    padding: 2rem 1rem 1.9rem;
                    &__tag{
                        position: absolute;
                        top: -1.3rem;
                        left: .9rem;
                        color: $white;
                        font-size: 0;
                        height: 2.6rem;
                        line-height: 2.6rem;
                        > span {
                            padding: 0 .6rem;
                        }
                        &-new{
                            display: inline-block;
                            font-size: 1.1rem;
                            background: $orange;
                        }
                        &-single{
                            display: inline-block;
                            font-size: 1.1rem;
                            background: $green;
                        }
                    }
                    &__brand{
                        font-size: 1.1rem;
                        line-height: 1.6rem;
                    }
                    &__name{
                        overflow: hidden;
                        display: -webkit-box;
                        margin-top: .8rem;
                        font-size: 1.4rem;
                        line-height: 1.8rem;
                        font-weight: bold;
                        -webkit-box-orient: vertical;
                        text-overflow: ellipsis;
                        -webkit-line-clamp: 2;
                    }
                    .price{
                        overflow: hidden;
                        display: block;
                        margin-top: .4rem;
                        font-size: 1.6rem;
                        font-weight: bold;
                        &__sell{
                            display: inline-block;
                            line-height: 2.4rem;
                            white-space: nowrap;
                        }
                        &__percent{
                            float: right;
                            line-height: 2.4rem;
                            color: $red;
                        }
                        &__orign{
                            display:block;
                            font-size: 1.1rem;
                            color: $grey;
                            text-decoration: line-through;
                        }
                    }
                }
            }
        }
    }
}